<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <h2>Lista de Personas</h2>
    <table border="1">
        <tr>
            <th>Nombre</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
            <th>Email</th>
            <th>Ver Detalles</th>
        </tr>
        {% for p in listaPersonas %}
            <tr>
                <td>{{ p.nombre }}</td>
                <td>{{ p.apaterno }}</td>
                <td>{{ p.amaterno }}</td>
                <td>{{ p.email }}</td>
                <td><a href="{% url 'datos-generales' persona_id=p.id %}">Ver Detalles</a></td>
            </tr>
        {% endfor %}
    </table>
    
</body>
</html>